/*color guide:
#8B725E brown
#ecddb6 peach
#82c673 green
#d87a92 pink
#edeae1 beige 
*/


/*-------------------------------------main styles-------------------------------*/

article, aside, footer, header, nav, section {
	display: block;
}

body {
	background: #edeae1 url(../images/background.jpg) fixed;
	text-align: center;
	font: 100% helvetica sans-serif;
}

ul{
	list-style-type: none;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
}

/*-header-*/

header#mainheader {
	position: relative;
	border-bottom: 2px solid #d87a92;
	margin-bottom: 2em;
}

header#mainheader h1 span {
	position: absolute;
	left: -2000em;
}

header#mainheader nav {
	left: 250px;
	top: 0;
	padding-top: 10px;
}

header#mainheader nav h1{;
	position: absolute;
	left: -2000em;
}

header#mainheader img {
	float: left;
	overflow: hidden;
}

header#mainheader ul {
	float: right;
	position: relative;
}

header#mainheader ul li {
	float: right;
}

header#mainheader ul li a{
	font-family: 'Coda Caption' , sans-serif;
	font-size: 1.3em;
	color: #82c673;
	padding: 0 20px;
	border-right: 1px solid #8B725E;
	text-decoration: none;
	overflow: hidden;	
}

header#mainheader ul li a:hover{
	color: #d87a92;
}

/*-edm_scene-*/

section#edm_scene {
	float: none
}

section#edm_scene header {
	font-family: 'Coda Caption' , sans-serif;
	font-size: .9em;
	color: #82c673;
	text-shadow: 2px 2px 2px #8B725E;
	padding: 5px;
}

section#edm_scene article {
	background: url(images/bokeh.jpg) no-repeat fixed;
	border: solid;
	
	 

}

section#edm_scene img {
	border: solid #d87a92;
	margin: 0 auto;
}
















