/*-------------------------------------main styles-------------------------------*/


body{
	color: #fff;
	font-family: "Helvetica Nue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	width: 790px;
	margin: 0 auto;
	background-color: #edeae1;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}


h1,h2{
	color: #82c673;
	font-family: 'Coda Caption', sans-serif;
	font-size: 18px;
	line-height: 1;
	text-shadow: 2px 2px 5px #8b725e;
}



p{
	color: #8b725e;
}

img{
	border: 5px solid #ecddb6;
}

.edmscene{
	font-family: 'Coda Caption', sans-serif;
	font-size: 16px;
	margin-bottom: 200px;
	
}

/*-------------------------------------logo-------------------------------*/


.logo-text{
	text-indent: -100000px;
}

#header-image{
	border: none;
}


/*-------------------------------------nav-------------------------------*/


nav ul{
	width: 375px;
	margin: 0 auto;
	list-style-type: none;
	background: #8b725e;
	padding left: 0;
	line-height: 30px;
	overflow: hidden;
	color: #82c673;
}

nav li{
	width: 125px;
	float: left;
}

nav a{
	text-decoration: none;
	font-family: 'Coda Caption', sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	display: block;
}

a:link{
	color: #82c673;
}

a:visited{
	color: #82c673;
}

a:hover{
	color: #d87a92;
}

a:active{
	color: #d87a92;
}


/*-------------------------------------gallery-------------------------------*/


#gallery li{
	width: 200;
	margin: 0 auto;
	list-style-type: none;
	padding left: -200; 
	overflow: hidden;
	float: left;
}


#about{
	overflow: hidden;
}


/*-------------------------------------about-------------------------------*/


.columns{
	-moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
     column-count:2;
}


/*-------------------------------------footer-------------------------------*/


footer{
	text-align: center;
	margin: 0 auto;
	padding: 20 0;
	
}
















